<h3>{$title}</h3>
<div class="card-block p-0">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{_}fileManagement.fileName{/_}</th>
                <th>{_}fileManagement.fileSize{/_}</th>
                <th>{_}fileManagement.download{/_}</th>
            </tr>
            </thead>
            <tbody>
            {foreach $files AS $hash => $file}
                <tr>
                    <td>{$file->getName()}</td>
                    <td>{$file->getSize() ? ($file->getSize()|bytes) : '---'}</td>
                    <td>
                        <a class="btn btn-success btn-sm tw-ajax" href="{plink :FileManegement:FileManagement:download, $hash}" data-ajax="on"><i class="zdmi zdmi-download" title="{_'fileManagement.download'}"></i></a>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
</div>
